@use "../../../styles/breakpoints" as *;

.section {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 1040px;
  border-radius: 4px;
  overflow: hidden;

  @include mobile {
    width: 100%;
    border-radius: 0;
  }
}

.title {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 15px;
  font-weight: 700;
  padding-left: 12px;
  background-color: #31313c;
}

.steps {
  display: flex;
  gap: 1px;

  @include mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.step {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  height: 230px;
  background-color: #31313c;
}

.number {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 14px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  p {
    font-size: 14px;
    color: #ffffff;
    white-space: pre-line;
  }
}

.image {
  width: 90px;
  height: 90px;
  filter: brightness(0.9);
}
