:root {
  --background: #ffffff;
  --foreground: #1c1c1f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 14px;
  font-family: var(--font-pretendard), sans-serif;
  line-height: 1.4;
  color: #ffffff;
  background-color: #1c1c1f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}