@use "../../../styles/breakpoints" as *;

.section {
  width: 1040px;
  margin-top: 4px;
  margin-bottom: 200px;

  @include mobile {
    width: 100%;
  }
}

.panels {
  display: flex;
  gap: 4px;
}

.platformPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 550px;
  border-radius: 4px 0 4px 4px;
  overflow: hidden;

  @include mobile {
    width: 100%;
    border-radius: 0;
  }
}

.panelTitle {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 15px;
  font-weight: 700;
  padding-left: 12px;
  background-color: #31313c;
}

.platformList {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.platformLink {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 16px;
  color: #ffffff;
  text-decoration: none;
}

.platformItem {
  flex: 1;
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: #31313c;
  transition: background-color 0.1s ease;

  &:hover {
    cursor: pointer;
    background-color: #282830;
  }

  &.notSupported {
    opacity: 0.9;

    &:hover {
      cursor: default;
      background-color: #31313c;
    }

    .platformLink {
      opacity: 0.3;
    }

    .name {
      cursor: default;

      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-weight: 500;
  transition: color 0.1s ease, text-decoration 0.1s ease;
  cursor: pointer;

  &:hover {
    color: #4270d3;
    text-decoration-color: #4270d3;
    text-decoration: underline;
  }
}

.icon {
  width: 52px;
  height: 52px;
}

.desc {
  font-size: 12px;
  color: #9e9eb1;
  white-space: pre-line;
}

.apiPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 550px;
  border-radius: 0 4px 4px 4px;
  overflow: hidden;

  @include mobile {
    display: none;
  }

  .subtitle {
    color: #9e9eb1;
    font-size: 14px;
    margin-bottom: 24px;
  }

  &:hover .gearIcon {
    animation: spin 4s linear infinite;
  }
}

.apiContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #31313c;
}

.title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.gearIcon {
  margin-top: 120px;
  width: 90px;
  height: 90px;
  transition: transform 0.3s ease;
  margin-bottom: 16px;
}

.links {
  display: flex;
  gap: 16px;

  .link {
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    color: #4270d3;
    border: 1px solid #4270d3;
    transition: all 0.2s ease;

    &:hover {
      background-color: #5383e8;
      color: #fff;
    }
  }
}